@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Reservas Pistas</h2>
    </div>
    <br />
</div>
<br />
<div class="4">
    <input type="date" id="fecha" />
</div>
<br />
<div class="row text-center">
    <div class="alert alert-info text-center invisible" style="width: 100%" id="alerta">
        <p id="mensaje"></p>
        @*Pensar el tema de los botones*@
        @*Para cambiar el mensaje cambiarlo dentro de los métodos necesarios(bastante más sencillo)*@
        <a class="btn btn-success" id="btnAceptar1">Aceptar</a>
        <a class="btn btn-success invisible" id="btnAceptar2" onclick="hacerInvisible()">Aceptar</a>
        <a class="btn btn-success invisible" id="btnAceptar3">Aceptar</a>
        <a class="btn btn-danger invisible" id="btnCancelar3" onclick="hacerInvisible()">Cancelar</a>
        <a class="btn btn-danger invisible" id="btnCancelar2" onclick="hacerVisible()">Cancelar</a>
        <a class="btn btn-danger" id="btnCancelar1" onclick="cambiarSalirSinReservar()">Cancelar</a>
    </div>
</div>
<div style="padding: 4px;
            width: 100%;
            height: 550px;
            overflow: auto;">

    @*Bucle que crea el la tabla con el horario de 9:00 a 21:00*@
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>Hora</th>
            <th>Estado</th>
            <th>Reservas</th>
        </tr>

        @for (var i = 9; i <= 21; i++)
        {
            <tr>
                <td>@i:00</td>
                <td id="@i-h">Libre</td>
                <td>
                    <a class="btn btn-success btn-sm" style="color:white" id="@i-btn1" onclick="reserva(this, '@i-h', '@i-btn2')">Reservar</a>
                    <a class="btn btn-danger btn-sm invisible" style="color:white" id="@i-btn2" onclick="cancelarReserva(this, '@i-h', '@i-btn1')">Cancelar</a>
                </td>
            </tr>
        }
    </table>
</div>


<script>

    // Formato de la fecha actual
    var fecha = document.querySelector('input[type="date"]');

    function formatoFecha() {
        let date = new Date();
        let year = date.getFullYear().toString();
        let day = date.getDate().toString();
        let month = date.getMonth() + 1;
        if (month < 9) {
            return year + "-0" + month.toString() + "-" + day;
        } else {
            return year + "-" + month + "-" + day;
        }

    }
    fecha.value = formatoFecha();

    // Hacer visible la alerta
    function hacerVisible() {
        let element = document.getElementById("alerta");
        element.className = "alert alert-info text-center visible";

        let msg = document.getElementById("mensaje");
        msg.innerHTML = "¿Quiere reservar una pista de pádel a esta hora?";

        let btn1 = document.getElementById("btnAceptar1");
        btn1.className = "btn btn-success";

        let btn2 = document.getElementById("btnCancelar1");
        btn2.className = "btn btn-danger";

        let btn3 = document.getElementById("btnAceptar2");
        btn3.className = "btn btn-success invisible";

        let btn4 = document.getElementById("btnCancelar2");
        btn4.className = "btn btn-danger invisible";
    }

    // Hacer invisible la alerta
    function hacerInvisible() {
        let elmnt = document.getElementById("alerta");
        elmnt.className = "alert alert-info text-center invisible";

        let btn1 = document.getElementById("btnAceptar2");
        btn1.className = "btn btn-success invisible";

        let btn2 = document.getElementById("btnCancelar2");
        btn2.className = "btn btn-danger invisible";

        let btn3 = document.getElementById("btnAceptar3");
        btn3.className = "btn btn-success invisible";

        let btn4 = document.getElementById("btnCancelar3");
        btn4.className = "btn btn-danger invisible";

        let btn5 = document.getElementById("btnAceptar1");
        btn5.className = "btn btn-success";

        let btn6 = document.getElementById("btnCancelar1");
        btn6.className = "btn btn-danger";
    }

    // Hacer visible la alerta de salir sin reservar
    function cambiarSalirSinReservar() {
        let msg = document.getElementById("mensaje");
        msg.innerHTML = "¿Está seguro de que quiere salir sin hacer la reserva?"

        let btn1 = document.getElementById("btnAceptar2");
        btn1.className = "btn btn-success";

        let btn2 = document.getElementById("btnCancelar2");
        btn2.className = "btn btn-danger";

        let btn3 = document.getElementById("btnAceptar1");
        btn3.className = "btn btn-success invisible";

        let btn4 = document.getElementById("btnCancelar1");
        btn4.className = "btn btn-danger invisible";
    }

    // Hacer visible la alerta de cancelar reserva
    function visibleCancelar() {
        hacerVisible();

        let msg = document.getElementById("mensaje");
        msg.innerHTML = "¿Está seguro de que quiere cancelar su reserva?"

        let btn1 = document.getElementById("btnAceptar3");
        btn1.className = "btn btn-success";

        let btn2 = document.getElementById("btnCancelar3");
        btn2.className = "btn btn-danger";

        let btn3 = document.getElementById("btnAceptar2");
        btn3.className = "btn btn-success invisible";

        let btn4 = document.getElementById("btnCancelar2");
        btn4.className = "btn btn-danger invisible";

        let btn5 = document.getElementById("btnAceptar1");
        btn5.className = "btn btn-success invisible";

        let btn6 = document.getElementById("btnCancelar1");
        btn6.className = "btn btn-danger invisible";
    }

    // Cambio de estilo de Libre a Reservado
    function reserva(elmnt, id, idbtn) {
        hacerVisible();
        $(document).ready(function () {
            $("#btnAceptar1").click(function (i) {
                let element = document.getElementById(id);
                element.style.background = "purple";
                element.style.color = "white";
                element.innerHTML = "Reservado";
                element.style.borderRadius = "0px 50px 50px 0px";

                element.previousElementSibling.style.background = "purple";
                element.previousElementSibling.style.color = "white";
                element.previousElementSibling.style.borderRadius = "50px 0px 0px 50px";

                elmnt.className = "btn btn-success btn-sm invisible";

                let element2 = document.getElementById(idbtn);
                element2.className = "btn btn-danger btn-sm";

                hacerInvisible();
            });
        });
    }

    // Cambio de estilo de reservado a libre
    function cancelarReserva(elmnt, id, idbtn) {
        visibleCancelar();
        $(document).ready(function () {
            $("#btnAceptar3").click(function (i) {
                let element = document.getElementById(id);
                element.style.background = "white";
                element.style.color = "black";
                element.innerHTML = "Libre";
                element.style.borderRadius = "50px 0px 0px 50px";

                element.previousElementSibling.style.background = "white";
                element.previousElementSibling.style.color = "black";
                element.previousElementSibling.style.borderRadius = "0px 50px 50px 0px";

                elmnt.className = "btn btn-success btn-sm invisible";

                let element2 = document.getElementById(idbtn);
                element2.className = "btn btn-success btn-sm visible";

                hacerInvisible();
            });
        });
    }
</script>